/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.schedule-container {
    min-width: 800px;
}

.input-container {
    min-width: 800px;
}

.text-center {
    font-family: 'VT323', monospace;
    animation: createBox 3s;
    z-index: 2;
}

#trainImg{
  z-index: 1;
  position:static;
  margin-left:46.5%;

}

@keyframes createBox {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.panel > .panel-heading {
    background-image: url("panelBackround.jpg");
    background-color: grey;
    color: white;

}

body {

background-image: url("bodyBackround.jpg");
}

table {
    border-collapse: separate;
    border-spacing: 6px;
}

.jumbotron {
    color: navy;
    min-width: 800px;
    background-image: url("jumboBackground.jpg");
}